<! DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <title>アンケートフォーム</title>
    </head>
    <body>
        <a href="/answers">結果一覧</a>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-defaoult">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-triangle-right"></span>
                        アンケートフォーム
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
        